
//Color
$primary-color: #27374D;
$secondary-color : #526D82;
$alternative-color: #9DB2BF;
$last-color: #DDE6ED;
$light-color: #FFF;


//Font-size
$small-size: '0.75rem';
$medium-size: '0.875rem';
$large-size : '1rem';

//Font-family

